$mat-palette-primary: (
  50: #e0ebf6,
  100: #b3cde7,
  200: #80acd8,
  300: #4d8bc8,
  400: #2672bc,
  500: #0059b0,
  600: #0051a9,
  700: #0048a0,
  800: #003e97,
  900: #002e87,
  A100: #b3c7ff,
  A200: #80a1ff,
  A400: #4d7bff,
  A700: #3468ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff
  )
);
