.banner {
  padding: 40px 8px;

  .heading {
    padding: 0 0 4px;
    font-size: 60px;
  }

  .sub-heading {
    padding: 4px 0 40px;
  }
}

.why-ngx-d3 {
  padding: 20px 40px;

  .heading {
    padding: 20px 0;
  }

  .segment {
    display: grid;

    &-heading {
      padding: 8px 0;
      grid-area: segment-heading;
    }

    &-illustration {
      grid-area: segment-illustration;

      img {
        max-width: 100%;
        max-height: 300px;
      }
    }

    &-content {
      grid-area: segment-content;
    }

    &.comfortable {
      grid-area: comfortable;
    }

    &.customizable {
      grid-area: customizable;
    }

    &.components {
      grid-area: components;
    }
  }

  .btn-get-started-holder {
    padding: 20px 0;
  }
}

@media screen and (max-width: 600px) {
  .demo {
    padding: 20px 10px;
  }

  .why-ngx-d3 {
    .segment {
      grid-template-columns: 50px 1fr;
      grid-template-rows: auto auto;

      grid-template-areas:
        'segment-heading segment-heading'
        'segment-illustration segment-content';

      .segment-heading {
        font-size: 18px !important;
      }

      .segment-illustration {
        justify-self: end;

        img {
          padding: 0 10px 10px 0;
          max-height: 50px;
        }
      }

      .segment-content {
        text-align: justify;
      }
    }
  }
}

@media screen and (min-width: 601px) and (max-width: 992px) {
  .demo {
    padding: 20px 40px;
  }

  .why-ngx-d3 {
    .segment {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;

      &:nth-of-type(2n) {
        grid-template-areas:
          'segment-illustration segment-heading'
          'segment-illustration segment-content';

        .segment-heading {
          justify-self: start;
          align-self: end;
        }

        .segment-illustration {
          justify-self: end;

          img {
            padding: 20px;
            max-height: 250px;
          }
        }

        .segment-content {
          text-align: left;
          justify-self: start;
        }
      }

      &:nth-of-type(2n + 1) {
        grid-template-areas:
          'segment-heading segment-illustration'
          'segment-content segment-illustration';

        .segment-heading {
          justify-self: end;
          align-self: end;
        }

        .segment-illustration {
          justify-self: start;

          img {
            padding: 20px;
            max-height: 250px;
          }
        }

        .segment-content {
          text-align: right;
          justify-self: end;
        }
      }
    }
  }
}

@media screen and (min-width: 993px) {
  .demo {
    padding: 20px 40px;
  }

  .why-ngx-d3 {
    .segment {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;

      &:nth-of-type(2n) {
        grid-template-areas:
          'segment-illustration segment-heading'
          'segment-illustration segment-content';

        .segment-heading {
          justify-self: start;
          align-self: end;
        }

        .segment-illustration {
          justify-self: end;

          img {
            padding: 40px;
          }
        }

        .segment-content {
          text-align: left;
          justify-self: start;
        }
      }

      &:nth-of-type(2n + 1) {
        grid-template-areas:
          'segment-heading segment-illustration'
          'segment-content segment-illustration';

        .segment-heading {
          justify-self: end;
          align-self: end;
        }

        .segment-illustration {
          justify-self: start;

          img {
            padding: 40px;
          }
        }

        .segment-content {
          text-align: right;
          justify-self: end;
        }
      }
    }
  }
}
