.ngx-d3-theme-primary-green-l5 {
  color: map-deep-get($mat-palette-primary-green, 'contrast', 50);
  background-color: map-get($mat-palette-primary-green, 50) !important;
}

.ngx-d3-theme-primary-green-l4 {
  color: map-deep-get($mat-palette-primary-green, 'contrast', 100);
  background-color: map-get($mat-palette-primary-green, 100) !important;
}

.ngx-d3-theme-primary-green-l3 {
  color: map-deep-get($mat-palette-primary-green, 'contrast', 200);
  background-color: map-get($mat-palette-primary-green, 200) !important;
}

.ngx-d3-theme-primary-green-l2 {
  color: map-deep-get($mat-palette-primary-green, 'contrast', 300);
  background-color: map-get($mat-palette-primary-green, 300) !important;
}

.ngx-d3-theme-primary-green-l1 {
  color: map-deep-get($mat-palette-primary-green, 'contrast', 400);
  background-color: map-get($mat-palette-primary-green, 400) !important;
}

.ngx-d3-theme-primary-green-d1 {
  color: map-deep-get($mat-palette-primary-green, 'contrast', 600);
  background-color: map-get($mat-palette-primary-green, 600) !important;
}

.ngx-d3-theme-primary-green-d2 {
  color: map-deep-get($mat-palette-primary-green, 'contrast', 700);
  background-color: map-get($mat-palette-primary-green, 700) !important;
}

.ngx-d3-theme-primary-green-d3 {
  color: map-deep-get($mat-palette-primary-green, 'contrast', 800);
  background-color: map-get($mat-palette-primary-green, 800) !important;
}

.ngx-d3-theme-primary-green-d4 {
  color: map-deep-get($mat-palette-primary-green, 'contrast', 900);
  background-color: map-get($mat-palette-primary-green, 900) !important;
}

.ngx-d3-theme-primary-green-light {
  color: map-deep-get($mat-palette-primary-green, 'contrast', 50);
  background-color: map-get($mat-palette-primary-green, 50) !important;
}

.ngx-d3-theme-primary-green-dark {
  color: map-deep-get($mat-palette-primary-green, 'contrast', 900);
  background-color: map-get($mat-palette-primary-green, 900) !important;
}

.ngx-d3-theme-primary-green-action {
  color: map-deep-get($mat-palette-primary-green, 'contrast', 900);
  background-color: map-get($mat-palette-primary-green, 900) !important;
}

.ngx-d3-theme-primary-green {
  color: map-deep-get($mat-palette-primary-green, 'contrast', 500);
  background-color: map-get($mat-palette-primary-green, 500) !important;
}

.ngx-d3-text-theme-primary-green {
  color: map-get($mat-palette-primary-green, 500) !important;
}

.ngx-d3-border-theme-primary-green {
  border-color: map-get($mat-palette-primary-green, 500) !important;
}

.ngx-d3-hover-theme-primary-green:hover {
  color: map-deep-get($mat-palette-primary-green, 'contrast', 500);
  background-color: map-get($mat-palette-primary-green, 500) !important;
}

.ngx-d3-hover-text-theme-primary-green:hover {
  color: map-get($mat-palette-primary-green, 500) !important;
}

.ngx-d3-hover-border-theme-primary-green:hover {
  border-color: map-get($mat-palette-primary-green, 500) !important;
}
