$mat-palette-primary-green: (
  50: #e5f7ed,
  100: #beecd1,
  200: #93dfb3,
  300: #67d294,
  400: #47c97d,
  500: #26bf66,
  600: #22b95e,
  700: #1cb153,
  800: #17a949,
  900: #0d9b38,
  A100: #caffd8,
  A200: #97ffb2,
  A400: #64ff8c,
  A700: #4bff78,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
