@import '~@angular/material/theming';

@include mat-core();

$ngx-d3-primary: mat-palette($mat-palette-primary);
$ngx-d3-accent: mat-palette($mat-palette-accent);
$ngx-d3-warn: mat-palette($mat-palette-warn);

$ngx-d3-theme: mat-light-theme($ngx-d3-primary, $ngx-d3-accent, $ngx-d3-warn);

@include angular-material-theme($ngx-d3-theme);
