.usage_example {
  padding: unset;
  margin: 8px 0;

  &-title-bar {
    padding: 4px 0;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: 'iframe-title iframe-title-button-group';
    align-content: center;
  }

  &-title {
    grid-area: iframe-title;
  }

  &-title-button-group {
    grid-area: iframe-title-button-group;
  }

  &-content {
    &-source {
      ::ng-deep.mat-tab-body-content {
        background-color: #272822;
      }

      &-code {
        max-height: 500px;
        overflow: auto;
        position: relative;

        &-copy_btn {
          position: absolute;
          top: 0;
          right: 0;
        }
        pre[class*='language-'] {
          white-space: pre-wrap;
        }
      }
    }
    &-iframe {
      width: 100%;
      border: unset;
      border-radius: 0 0 4px 4px;
    }
  }
}
