mat-form-field {
  width: 100%;
}

img.mat-card-avatar {
  border-radius: 4px;
}

div.mat-card-avatar {
  border-radius: 4px;

  img {
    width: 100%;
    height: 100%;
  }
}

mat-spinner.w3-center {
  margin: 0 auto;
}
