.ngx-d3 {
  &--legend {
    &--bg {
      fill: #ffffff;
      fill-opacity: 0.75;
      stroke: #aaaaaa;
      stroke-width: 1;
    }
    &--title {
      font-size: 13px;
    }
    &--cells {
      .ngx-d3--legend--cell {
        &.ngx-d3--legend--cell--interactable {
          cursor: pointer;
        }

        .ngx-d3--legend--label {
          font-size: 12px;
        }
      }
    }
  }
}
